@use '../../styles/colors'

.sample-form
    display: flex
    background: colors.$form
    width: calc(100% - 1rem)
    height: 100%
    padding: 1rem
    border-radius: 10px
    box-shadow: 3px 3px 30px #4a96e2 !important
    -webkit-box-shadow: 3px 3px 30px #4a96e2 !important

.sample-preview-image
    width: 400px !important
    height: 100% !important
    border-radius: 20px !important

    img
        width: 100% !important
        height: 100% !important
        border-radius: 20px !important
        object-fit: cover !important

.coverart-div
    display: flex

.inputs-div
    display: flex
    flex-direction: column
    padding: 10px
    margin-left: 50px
    width: calc(100% - 400px - 20px)
    color: black

.category-sample
    display: flex
    width: 50%
    margin-bottom: 10px
    color: black

    .dropdown-margin
        margin-top: 10px
        margin-left: 1rem

.form-items
    display: flex
    flex-direction: column
    height: 78%
    border: 1px solid grey
    padding: 10px
    border-radius: 10px
    background: #eaeaea

    .input-group
        display: flex
        align-items: center
        margin-bottom: 10px

        .input
            margin-left: 20px
            width: 100%
            height: 20px
            font-size: 15px

        .input-description
            max-width: 97%
            min-width: 97%
            min-height: 100px
            max-height: 100px
            margin-top: 10px
            overflow: auto
            font-family: 'calibri'
            font-size: 17px

        .input-tag
            max-width: 97%
            min-width: 97%
            min-height: 50px
            max-height: 50px
            margin-top: 10px
            overflow: auto
            font-family: 'calibri'
            font-size: 17px

        .input-notification
            max-width: 97%
            min-width: 97%
            min-height: 50px
            max-height: 50px
            margin-top: 10px
            overflow: auto
            font-family: 'calibri'
            font-size: 17px

        .invalid-name
            margin-left: 10px

        .invalid-desc
            margin-top: 5px

        .label
            color: black

    .input-group-area
        flex-direction: column
        align-items: normal

.form-btns
    position: relative
    display: flex
    flex-direction: column
    height: 20%

.browse-btn-sample
    position: absolute
    bottom: 70px
    text-align: center
    width: 100%
    height: 40px
    border: 1px solid colors.$border
    color: black
    font-size: 14px
    margin-top: 5%
    border-radius: 7px

.upload-btn-sample
    @extend .browse-btn-sample
    background: colors.$btn
    color: white
    bottom: 0px

.invalid-input-sample
    position: absolute
    font-size: 14px
    color: red
    font-weight: 500
    margin-top: 5%
    bottom: 35px
